<div class= "rectangle-title">
  <button class= "back-button"><%= image_tag 'back' %></button>
  <h2 id="create-target"> CREATE TARGET</h2>
</div>
  <%= image_tag 'target-img', :class => "target-img" %>
  <h3 class="field text-centered">CREATE NEW TARGET</h3>
  <%= form_with class: "form-create-target", scope: :target, url: targets_path do |form| %>
    <div id="error_explanation">
      <ul class="error-list"></ul>
    </div>
    <%= form.hidden_field :topic_id, {id: "topic_id"} %>
    <%= form.hidden_field :latitud, {id: "latitude"} %>
    <%= form.hidden_field :longitud, {id: "longitude"} %>
    <p>
      <%= form.label :specify_area_lenght,class: :field%><br>
      <%= form.select :area, {}, {}, {:class => 'area-select'} do %>
        <% [['25', 25], ['50', 50], ['100', 100], ['150', 150], ['200', 200]].each do |c|-%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </p>
    <p>
      <%= form.label :target_title ,class: :field %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :select_a_topic ,class: :field %><br>
    </p>
    <table class= "create-target-table">
      <tr>
        <th>
          what do you want to talk about?
        </th>
      </tr>
      <% topics.each do |topic| %>
      <tr>
        <td>
          <span class="topic" data-topic-id= "<%= topic.id %>">
            <i><%= image_tag("#{topic.id}.png")  %></i>
            <%= topic.name %>
          </span>
        </td>
      </tr>
      <% end %>
    </table>
    <p>
      <%= form.submit 'SAVE TARGET', class: :"button submit" %>
    </p>
<% end %>
<%= image_tag 'smilies', :class => "smilies" %>
