<h2 id="create-target">CREATE TARGET</h2>
  <%= image_tag 'target-img', :class => "target"%>
  <h3 class="field centered">CREATE NEW TARGET</h3>
  <%= form_with class: "form-create-target", scope: :target, url: targets_path do |form| %>
    <%= form.hidden_field :topic_id, {id: "topic_id"} %>
    <%= form.hidden_field :latitud, {id: "latitude"} %>
    <%= form.hidden_field :longitud, {id: "longitude"} %>
    <p>
      <%= form.label :specify_area_lenght,class: :field%><br>
      <%= form.text_field :area %>
    </p>
    <p>
      <%= form.label :target_title ,class: :field%><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :select_a_topic ,class: :field%><br>
    </p>
    <table class= "table">
      <tr>
        <th>
          what do you want to talk about?
        </th>
      </tr>
      <% @topics.each do |topic| %>
      <tr>
        <td>
          <span class="topic" data-topic-id=<%= topic.id %>>
            <i><%= image_tag("#{topic.id}.png")  %></i>
            <%= topic.name %>
          </span>
        </td>
      </tr>
      <% end %>
    </table>
    <p>
      <%= form.submit 'SAVE TARGET', class: :"button submit"%>
    </p>
<% end %>
<%= image_tag 'smilies', :class => "smilies"%>
