<div class= "rectangle-title">
  <button class= "back-button"><%= image_tag 'back' %></button>
  <h2 id="create-target"> DELETE TARGET</h2>
</div>
  <%= image_tag 'target-img', :class => 'target-img'%>
  <h3 class="field text-centered">DELETE TARGET</h3>
  <div class="delete-error"></div>
  <%= form_with class: "form-delete-target", scope: :target do |form| %>
    <p>
      <%= form.label :area_lenght,class: :field %><br>
      <div class= "topic-field position-centered">
        <%= target.area %>
      </div>
    </p>
    <p>
      <%= form.label :target_title ,class: :field %><br>
      <div class= "topic-field position-centered">
        <%= target.title %>
      </div>
    </p>
    <p>
      <%= form.label :target_topic ,class: :field %><br>
      <div class= "topic-field position-centered">
        <%= target.topic_name %>
      </div>
    </p>
    <p class= "delete-link">
    <%= link_to 'Delete', target_path(target), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this target?" } %>
    </p>
<% end %>
<%= image_tag 'smilies', :class => "smilies" %>
