<div class= "rectangle-menu-open">
  <%= render "welcome/welcome_header" %>
    <div id="login-box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-login"} ) do |f|%>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :email,class: :field %><br />
        <%= f.email_field :email, autofocus: true , class: :"field-position"%>
      </div>

      <div>
        <%= f.label :password,class: :field%><br />
        <%= f.password_field :password, autocomplete: "off", class: :"field-position" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
            <%= f.submit "SIGN IN", class: :"button-login field-position submit"%>
        </div>
      <% end %>
    </div>
    <div id="recovery-box">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: "form-recovery", method: :post }, remote: true) do |f| %>
        <div id= "password-err" class="error-div"></div>
        <div class="form-input">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: :"field-position", id: "recovery-user-email"%>
        </div>

        <div class= "little-button">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>
      <a class="login-link" id="sign-in-button" href="#"> SIGN IN </a>
    </div>

    <div class="link-login-div">
      <%= render "devise/shared/links" %>
    </div>
</div>
<%= render "devise/shared/app_img_div" %>
