<i class="fa fa-bars"></i>
<% if flash[:notice] %>
  <div class="alert alert-notice"><%= flash[:notice] %></div>
<% end %>
<div class= "rectangle-profile">
  <h2 id= "target-home" class="first-title">TARGET</h2>
  <%= render 'profile' %>
  <div class="link-div">
    <%= link_to 'Edit', edit_user_registration_path, remote: true,:id => "edit-link" %> /
    <%= link_to('Logout', destroy_user_session_path, method: :'delete',:class => "logout-link") %>
  </div>
</div>
<% if chats.any? %>
  <%= render 'chat', current_user_id: current_user_id, chats: chats, results: results %>
<% elsif current_user.targets.any? %>
  <%= render 'not_matches' %>
<% else %>
  <%= render 'first_target' %>
<% end %>
