<div class= "rectangle">
    <i class="fa fa-bars" style="fwidth: 20.3px; height: 13.5px; background-color: #000000;background-color: var(--black);"></i>
    <h2 id="TARGET">TARGET</h2>
    <div
      <%= image_tag 'group-copy', :class => "style_image"%>
    </div>
    <div
      <%= image_tag 'page-1-copy-2', :class => "page-1-copy-2"%>
    </div>
    <h2 id="createfirsttarget">Create your first target by clicking wherever on the map</h2>
    <h3 id="Psss-these-are-the">Psss!, these are the most popular targets</h3>
    <ul>
        <li> <%= image_tag '4', :class => "MusicImage"%> Football</li>
        <li> <%= image_tag '9', :class => "MusicImage"%> Travel</li>
        <li> <%= image_tag '6', :class => "MusicImage"%> Music</li>
    </ul>
    <%= image_tag 'smilies', :class => "smilies"%>
</div>
<div id="map"></div>
