<div class="wrapper">
<div class= "rectangle">
    <i class="fa fa-bars" style="fwidth: 20.3px; height: 13.5px; background-color: #000000;background-color: var(--black);"></i>
    <div class= "rectangle-profile">
      <h2 id="target">TARGET</h2>
      <%= image_tag 'under-logo-img', :class => "under-logo-img"%>
      <%= image_tag 'over-logo-img', :class => "over-logo-img"%>
    </div>
    <h2 id="create-first-target">Create your first target by clicking wherever on the map.</h2>
    <h3 id="Psss-these-are-the">Psss!, these are the most popular targets:</h3>
    <ul class= "list-topics">
        <li> <%= image_tag '5', :class => "topic-image"%> Football</li>
        <li> <%= image_tag '1', :class => "topic-image"%> Travel</li>
        <li> <%= image_tag '7', :class => "topic-image"%> Music</li>
    </ul>
    <%= image_tag 'smilies', :class => "smilies"%>
</div>
<div id="map"></div>
</div>
