<div id= "chat-rectangle" data-chat-id= "<%= chat.id %>">
  <div class= "rectangle-title">
    <button id= "back-button-chat" class= "back-button"> <%= image_tag 'back' %> </button>
    <h2 class="first-title title-div">CHAT</h2>
  </div>
  <div class= "chat-target">
    <div class= "chat-target-topic">
      <%= image_tag "#{chat.topic_id}.png" %>
    </div>
    <div class= "chat-target-info">
      <%= chat.receiver_id == current_user.id ? (chat.sender_name) : (chat.receiver_name)%>
    </div>
  </div>
  <div class="message-wr">
    <%= render 'messages', messages: messages %>
    <%= render 'message_form', message: message, chat: chat %>
  </div>
</div>
