<div class= "rectangle-title">
  <button class= "back-button"><%= image_tag 'back' %></button>
  <h2 class= "first-title title-div"> EDIT PROFILE</h2>
  <%= render 'welcome/unread_global_msg', current_user: current_user %>
</div>
<%= render 'welcome/profile' %>
<div class= "form-create-delete">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "generic-form", method: :put }, remote: true) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-input">
      <%= f.label :email, class: :field %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-input">
      <%= f.label :current_password, class: :field %>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: 'MIN. 6 CHARACTERS LONG' %>
    </div>

    <div class="form-input">
      <%= f.label :new_password, class: :field %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'MIN. 6 CHARACTERS LONG' %>
    </div>

    <div class="form-input">
      <%= f.label :confirm_new_password, class: :field %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class= "actions">
      <%= f.submit "SAVE CHANGES", class: :"button submit" %>
    </div>
  <% end %>
</div>
<div class= "little-button">
<p> <%= button_to "Delete my TARGET account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
